.add-option-error {
  color: $off-white;
  font-style: italic;
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
}

.add-option{
  display: flex;
  flex-direction:column;
  padding: $m-size;
}

.add-option__input{
  flex-grow:1;
  background: $dark-blue;
  color: $off-white;
  padding:$s-size;
  margin-bottom: $s-size;
  border: none;
  border-bottom: .3rem solid darken($dark-blue,10%);
}
@media (min-width: 40rem) {
  .add-option{
    flex-direction: row;
  }
  .add-option__input{
    margin-right: .8rem;
    margin-bottom:0;
  }

}