.header{
  background: $off-black;
  color: white;
  padding: $m-size 0;
  margin-bottom: $m-size;

  &__title{
    margin: 0;
    font-size: $l-size;
  }
  &__subtitle{
    font-size: $m-size;
    font-weight:500;
    margin: 0;
    color: $off-white;

  }

}
@media (min-width:$desktop-min) {
  .header{
    margin-bottom: $xl-size;
  }


}