
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 1;
}
.modal{
  background: $light-blue;
  color: white;
  max-width: 30rem;
  outline:none;
  padding:$l-size;
  text-align: center;

  &__title{
    margin: 0 0 $l-size 0;
    color: $off-white;
    font-weight: 300;
  }

  &__text{
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $l-size 0;
    word-break: break-all;

  }
}
