.widget{

  &-header{
    display: flex;
    justify-content: space-between;
    background: $blue;
    color: $off-white;
    padding:$m-size;
    &__title{
      margin:0;
    }
  }
  &__main{
    background-color: $light-blue;
    margin-bottom: $xl-size;
  }
  &__error{
    width: 100%;
    text-align: center;
    color: $off-white;
    margin: 0;
    border-bottom: 1px solid lighten($light-blue,10%);
    padding:$s-size 0;

  }
}
