button {
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}

.btn-big {
  width: 100%;
  background: $purple;
  color: white;
  font-size: $m-size;
  font-weight: bold;
  padding: 1.4rem;
  margin-bottom: $m-size;
  border: none;
  border-bottom: .6rem solid darken($purple, 5%);
  border-right: .4rem solid darken($purple, 5%);

  &:disabled {
    opacity: .5;
  }
}

@media (min-width: $desktop-min){
  .btn-big{
    margin-bottom: $xl-size;
  }
}



.btn {
  color:white;
  background: $purple;
  font-weight:500;
  border: none;
  border-bottom:.3rem solid darken($purple, 5%);
  padding:$s-size;

  &--link{
    color: $off-white;
    padding: 0;
    border:none;
    background: none;
  }
}

